body {
  display: flex;
  /* flex-direction: row; */
  justify-content: center;
  align-items: center;
  background-image: url("../assets/images/strong_santa.gif");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
}

.button-holder {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.button-holder button {
  margin-right: 10px;
}

.main-holder {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cool-font {
  color: red;
  font-size: 48px;
  font-family: "Courier New", Courier, monospace;
  background-image: repeating-linear-gradient(
    45deg,
    red,
    red 10px,
    white 10px,
    white 20px
  );
  background-repeat: repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 0.5px black;
}
